<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lapar.id</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju Konten</a>
    <header class="header">
        <h1 class="header_title">Lapar.id</h1>
        <div class="menu_container">
            <a id="menu" class="header_menu" tabindex="0" aria-expanded="false">☰</a>
        </div>
        <nav id="drawer" class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a id="item" href="index.html">Home</a></li>
                <li class="nav_item"><a id="item" href="#">Favorites</a></li>
                <li class="nav_item"><a id="item" href="https://github.com/Lendi156">About Us</a></li>
            </ul>
        </nav>
    </header>
    
    
    <div class="hero">
        <div class="hero_inner">
            <h1 class="hero_title">KUMPUL ORA KUMPUL SING PENTING MAKAN</h1>
            <p class="hero_tagline">Nikmati cita rasa kuliner yang luar biasa meskipun anda hanya makan sendirian.</p>
        </div>
    </div>
    <main id="maincontent">
        <section class="content">
            <h1 class="content_title">Katalog</h1>
            <div class="posts">
                <article tabindex="0" class="post-item" aria-expanded="false">
                    <img class="post-item_thumbnail" 
                    src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="Tampak dalam restoran Bring Your Phone">
                    <div class="post-item_content">
                        <h1 class="name">Bring Your Phone Cafe </h1>
                        <p class="rating">Rating : 4.6</p>
                        <p class="alamat">Kota : Medan</p>
                        <p class="deskripsi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </article>

                <article tabindex="0" class="post-item" aria-expanded="false">
                    <img class="post-item_thumbnail" 
                    src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="Tampak luar restoran Run the Gun">
                    <div class="post-item_content">
                        <h1 class="name">Run the Gun</h1>
                        <p class="rating">Rating : 4.6</p>
                        <p class="alamat">Kota : Bali</p>
                        <p class="deskripsi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </article>

                <article tabindex="0" class="post-item" aria-expanded="false">
                    <img class="post-item_thumbnail" 
                    src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29" alt="Tampak dalam restoran Pangsit Express">
                    <div class="post-item_content">
                        <h1 class="name">Pangsit Express</h1>
                        <p class="rating">Rating : 4.8</p>
                        <p class="alamat">Kota : Ternate</p>
                        <p class="deskripsi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </article>

                <article tabindex="0" class="post-item" aria-expanded="false">
                    <img class="post-item_thumbnail" 
                    src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38" alt="Tampak pengunjung makan di meja outdor restoran Ducky Duck">
                    <div class="post-item_content">
                        <h1 class="name">Ducky Duck</h1>
                        <p class="rating">Rating : 4.7</p>
                        <p class="alamat">Kota : Malang</p>
                        <p class="deskripsi">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                    </div>
                </article>

                <article tabindex="0" class="post-item" aria-expanded="false">
                    <img class="post-item_thumbnail" 
                    src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/40" alt="Tampak luar restoran Kafein menunjukkan adanya meja outdoor">
                    <div class="post-item_content">
                        <h1 class="name">Kafein</h1>
                        <p class="rating">Rating : 3.8</p>
                        <p class="alamat">Kota : Bali</p>
                        <p class="deskripsi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </article>

                <article tabindex="0" class="post-item" aria-expanded="false">
                    <img class="post-item_thumbnail" 
                    src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/08" alt="Makanan dari restoran Makan Mudah yang sedang">
                    <div class="post-item_content">
                        <h1 class="name">Makan Mudah</h1>
                        <p class="rating">Rating : 4.6</p>
                        <p class="alamat">Kota : Malang</p>
                        <p class="deskripsi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </article>

                <article tabindex="0" class="post-item" aria-expanded="false">
                    <img class="post-item_thumbnail" 
                    src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/32" alt="Tampak dalam restoran Saya Suka">
                    <div class="post-item_content">
                        <h1 class="name">Saya Suka</h1>
                        <p class="rating">Rating : 3.6</p>
                        <p class="alamat">Kota : Surabaya</p>
                        <p class="deskripsi">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                    </div>
                </article>

                <article tabindex="0" class="post-item" aria-expanded="false" aria-expanded="false">
                    <img class="post-item_thumbnail" 
                    src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/45" alt="Tampak dalam restoran Gigitan Cepat">
                    <div class="post-item_content">
                        <h1 class="name">Gigitan Cepat</h1>
                        <p class="rating">Rating : 4</p>
                        <p class="alamat">Kota : Aceh</p>
                        <p class="deskripsi">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </article>

                <article tabindex="0" class="post-item" aria-expanded="false">
                    <img class="post-item_thumbnail" 
                    src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04" alt="Pengunjung memenuhi restoran Fairy Cafe">
                    <div class="post-item_content">
                        <h1 class="name">Fairy Cafe</h1>
                        <p class="rating">Rating : 3.9</p>
                        <p class="alamat">Kota : Malang</p>
                        <p class="deskripsi">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                    </div>
                </article>
    
            </div>
        </section>

        <section class="content">
            <h1 class="content_title">Testimoni</h1>
            <div class="posts">
                <article tabindex="0" class="post-item">
                    <img class="Testimony_thumbnail" 
                    src="images/heros/rendy-novantino-yZV9ftly838-unsplash.jpg" alt="">
                    <div class="Testimony_content">
                        <h1 class="name">Mirna Nasution </h1>
                        <p class="rating">Model</p>
                        <p class="deskripsi">
                            <q>Saya sering mampir ke restoran-restoran milik lapar.id dan sangat puas dengan pelayannanya</q> 
                        </p>
                    </div>
                </article>
    
                <article tabindex="0" class="post-item">
                    <img class="Testimony_thumbnail" 
                    src="images/heros/luigi-estuye-lucreative-CEgyvJHKN98-unsplash.jpg" alt="">
                    <div class="Testimony_content">
                        <h1 class="name">Adam Sutisna</h1>
                        <p class="rating">Pengusaha</p>
                        <p class="deskripsi">
                            <q>Sangat saya rekomendasikan untuk menjamu partner-partner bisnis.</q> 
                        </p>
                    </div>
                </article>
    
                <article tabindex="0" class="post-item" >
                    <img class="Testimony_thumbnail" 
                    src="images/heros/szabo-viktor-Tm2Mz03S2j0-unsplash.jpg" alt="">
                    <div class="Testimony_content">
                        <h1 class="name">Chris Schelberg</h1>
                        <p class="rating">Traveler dan Food Blogger</p>
                        <p class="deskripsi">
                            <q>Merupakan restoran pertama yang saya kunjungi ketika pertama kali di Indonesia. Tidak menyesal karena makanan yang disajikan benar-benar lezat.</q> 
                        </p>
                    </div>
                </article>
            </div>
            

        </section>

    </main>
    
    <footer>
        <p>Copyright © 2021 - Lapar.id</p>
    </footer>
</html>
