<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap" rel="stylesheet"> 
    <link rel="manifest" href="manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/icons/icon 192x192.png">
    <link rel="icon" href="favicon.png">
    <meta name="theme-color" content="#424242"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Lapar.id</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju Konten</a>
    <header class="header">
        <h1 class="header_title">Lapar.id</h1>
        <div class="menu_container">
            <a id="menu" class="header_menu" tabindex="0" aria-expanded="false">☰</a>
        </div>
        <nav id="drawer" class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a id="item" href="#/home">Home</a></li>
                <li class="nav_item"><a id="item" href="#/Favorites">Favorites</a></li>
                <li class="nav_item"><a id="item" href="https://github.com/Lendi156">About Us</a></li>
            </ul>
        </nav>
    </header>
    
    
    <div class="hero">
        <picture class="hero_picture">
            <source media="(max-width: 600px)" srcset="./images/heros/hero-image_4-small.jpg" type="image/jpeg" height="100%">
            <img 
                class="lazyload"
                data-src="./images/heros/hero-image_4-large.jpg" 
                alt="food photo taken from above"
                width="100%"></img>
        </picture>
        <div class="hero_content">
            <h1 class="hero_title">Tasty Indonesian Meals in Your Town</h1>
            <p class="hero_tagline">Nikmati cita rasa kuliner terbaik di depan anda.</p>        
        </div>
    </div>
    <main id="maincontent">

    </main>
    
    <footer>
        <p>Copyright © 2021 - Lapar.id</p>
    </footer>
</html>
