* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0.1em;
    font-size: 16px;
    color: #424242;
    position: relative;
    overflow-x: hidden;
}

title {
    font-family: 'Staatliches', cursive;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
 }
  
 .skip-link:focus {
    top: 0;
}
/*Header and Nav
*/

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 0 100px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 100%;
    height: 97px;
    border-bottom: 2px solid whitesmoke;
}

.home {
    color: whitesmoke;
}

.nonHome {
    color: black;
}


.header_title {
    font-family: 'Dosis', sans-serif;
    display: inline-block;
    margin: 0.2em 0px;
    font-weight: 500;
    font-size: 37.9px;
    line-height: 53px;
    letter-spacing: 0em;
    vertical-align: middle;
}

.menu_container {
    display: flex;
    justify-content: flex-end;
}

.header_menu {
    font-size: 22.4px;
    min-width: 44px;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: right;
    background-color: transparent;
    border: none;
}

.header_menu:hover {
    text-decoration: none;
    background-color: black;
    color:whitesmoke;
}

.nav {
    display: inline-block;
    text-align: center;
    flex-grow: 3;
    margin: 0.2em 0px;
}

.nav_list {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

.nav_item {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 21.3px;
    display: flex;
    text-align:center;
    line-height: 85px;
    margin-top: 12px;
}

.nav a {
    display:block;
    text-decoration: none;
    font-weight:bold;
    margin: 0;
    padding: 0 18px;
}

.line_content_title {
    position: relative;
    border-top: 2px solid #AB7949;
    width: 100%;
    margin-top: 16px;
}

.menuLine {
    position: absolute;
    z-index: 4;
    top: 100px;
}

/*Jumbotron
*/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 0;
    width: 100%;
    height: 490px;
    letter-spacing: 0em;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0 100px;
    color: #ffffff;
    background-color: #eeeeee;
    overflow-y: hidden;
}


.hero_picture {
   width: 100%;
   height: 100%;
   z-index: 1;
   position: absolute;
   overflow: hidden;
   object-fit: cover;
   left: 0;
}

.hero_content {
    width: 100%;
    z-index: 2;
    position: relative;
    margin-top: 133px;
}

.hero_title {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 67.3px;
    text-align: left;
    line-height: 130%;
}

.hero_tagline {
    font-family: 'Merriweather', serif;
    line-height: 130%;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    margin-top: 36px;
}

/*main
*/
main {
    min-height: 650px;
    position: relative;
    top: 0;
}

.mainHome {
  margin-top: 0px;
}

.mainNonHome {
    margin-top: 161px;
}

.mainNonHome .content {
    padding: 0;
}

/*Content
*/
.content {
    margin: 0 100px;
    padding: 124px 0 0 0;
}

.content_title {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0em;
    font-size: 37.9px;
    font-weight: 700;
    text-align: left;
    color: #AB7949;
    line-height: 100%;
}


.aboutContainer {
    display: grid;
    grid-template: 1fr / 3fr 2fr;
    overflow-x: hidden;
}

.aboutContainer .deskripsi{
    margin-left: 36px;
    -webkit-box-orient: unset;
    margin-top: 24px;
    height: fit-content;
}

.aboutPicture img {
    object-fit: cover;
}

.content > .deskripsi {
    margin-top: 24px;
}

.restaurantPosts {
    width: 100%;
    text-align: center;
    margin-top: 36px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 36px;
    grid-row-gap: 36px;
}

.restaurantPost-item {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.restaurantPost-item .name {
    font-size: 21.33px;
    color: #AB7949;
    margin-bottom: 8px;
}

.restaurantPost-item_header {
    position: relative;
}

.restaurantPost-item_thumbnail {
    object-fit: cover;
    width: 100%;
    height: 35vh;
    background-color: #eeeeee;
    color: #eeeeee;
}

.restaurantPost-item_header_rating {
    position: absolute;
    padding: 8px;
    top: 0;
    right: 0;
    display: inline-block;
    background-color: white;
}

.restaurantPost-item_header_rating i {
    color: #AB7949;
}

.restaurantPost-item_content_button {
    display: flex;
    gap: 15px;
}

.restaurantPost-item_content_button .add {
    align-self: flex-end;
}

.restaurantPost-item_content {
    height: fit-content;
}

.restaurantPost-item .restaurantPost-item_thumbnail .restaurantPost-item_content {
    object-position: center;
    object-fit: cover;
    min-width: 100%;
    height: 250px;
}

.name {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    transition: 0.3s;
    font-weight: bold;
}

.rating {
    margin-top: 8px;
    font-weight: lighter;
}

.alamat {
    margin-top: 4px;
    font-weight: lighter;
    font-size: 12px;
    opacity: 70%;
}

.deskripsi {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 300;
    overflow: hidden;
    vertical-align: top;
}

.restaurantPost-item_content .deskripsi {
    margin-top: 8px;
}
    
.restaurantPost-item:hover >.restaurantPost-item_content_button > .restaurantPost-item_content > .deskripsi {
    display: block;
    overflow: visible;
    height: fit-content;
}

.restaurantAwards {
    width: 70%;
    text-align: center;
    margin-top: 36px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 36px;
}

.restaurantAward-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.deskripsi_new {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5em;
    display: block;
    overflow: visible;
    height: fit-content;
    text-overflow: clip;
}

.restaurantPost-item__not__found {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;   
}

/*Testimoni*/

.Testimony_thumbnail {
    max-height: 243px;
    max-width: 234px;
    position: relative;
    overflow: hidden;
    background-color: #eeeeee;
}

.Testimony_thumbnail > img {
    max-width: 100%;
    object-fit: cover;
}

.nextButton {
    height: 44px;
    width: 44px;
    color: #5e544b;
    background: none;
    border-style: none;
    cursor: pointer;
    align-self: center;
    font-size: 24px;
    font-weight: bold;
}

/*detail page*/
.restaurantNameandButton{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.kategori {
    margin-top: 4px;
}

.pictureDetailandAdressContainer {
    display: block;
    width: 100%;
}

.restaurantMenu {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#restaurantReview {
    display: block;
}

#detailContainer {
    border-radius: 5px;
    margin-top: 32px;
    text-align: left;
    display: grid;
    grid-template-columns: 50% 50%;
}

#restaurantPost-item_contentDetail {
    padding: 0 0 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.restaurantPoster {
    object-fit: cover;
    background-color:#eeeeee;
    width: 100%;
    max-height: 370px;
    height: auto;
}

.subHeadDetail {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 28.43px;
    line-height: 100%;
    color: #AB7949;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 21.3px;
    line-height: 100%;
}
.reviewandName{
    display: inline-block;
    margin-top: 4px;
}

.reviewandName h3 {
    text-align: right;
    margin-top: 8px;
}

.testimoni {
    margin-top: 36px;
}

#deskripsiContainer {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictureDetailandAdressContainer .alamat {
    margin-top: 16px;
}

.menu .line_content_title {
    margin-top: 8px;
}

.testimoni .line_content_title {
    margin-top: 8px;
}

.makanan {
    overflow-x: hidden;
    margin-right: 16px;
}

.minuman {
    overflow-x: hidden;
    margin-right: 16px;
}

.daftar__makanan {
    margin-top: 8px;
}

.daftar__minuman {
    margin-top: 8px;
}

.lineWrapper {
    position: relative;
    margin-bottom: 8px;
}

.menuDetail {
    position: relative;
    display: contents;
    z-index: 1;
}

.dot {
    position: absolute;
    display: inline-block;
    z-index: 0;
    bottom: 0;
}

.review {
    padding: 0 52px;
}

.review .alamat {
    margin-top: 0;
}

/*button*/
.like {
    font-size: 16px;
    position: relative;
    color: #AB7949;
    background-color: transparent;
    height: 44px;
    padding: 0 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #AB7949;
}

.like i {
    margin-right: 8px;
    color: #AB7949;
}

.add {
    font-size: 16px;
    position: relative;
    background-color: transparent;
    color: black;
    height: 44px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-style: solid;
    border-color: #AB7949;
}

.add .plusIcon {
    margin-right: 4px;
    font-size: 28px;
    font-weight: 300;
    color: #AB7949;
}

.add p {
    color: #AB7949
}

.add:hover .plusIcon {
  color: #ffffff;
}

.add:hover p {
    color: #ffffff;
}

.like:hover i {
    color: #ffffff;
}

.add:hover {
    background-color: #AB7949;
    color:#ffffff;
}

.like:hover {
    background-color: #AB7949;
    color:#ffffff;
}

#likeButtonContainer {
    height: 44px;
    margin-right: 16px;
}

#addReviewButtonContainer {
    height: 44px;
}

#buttonContainer {
    display: flex;
    position: sticky;
    justify-content: flex-end;
}
/* input Review floating page*/
.overlay {
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewOpened {
  visibility: visible;
}

#formcontainer {
    position: relative;
    background-color: #AB7949;
    width: 634px;
    height: 70%;
    padding: 32px;
}

.inputContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

label input {
    display: block;
}

label {
    font-size: 21.3px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: white;
}

.input {
    height: 44px;
    border-style: none;
    background-color: #ffffff;
    margin: 8px 0 16px;
    text-indent: 12px;
    font-size: 16px;
}

#submit {
    border-style: none;
    background-color: black;
    color: #ffffff;
    margin-bottom: 16px;
    height: 44px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.testBtn {
    border-style: solid;
    border: none;
    background-color: #ffffff;
    color: black;
    margin-bottom: 16px;
    height: 44px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.testBtn:hover {
    border-style: none;
    background-color: black;
    color: #ffffff;
}

#submit:hover {
    border-style: solid;
    border-color: black;
    background-color: #ffffff;
    color: black;
}

/*footer*/
footer {
    background-color: transparent;
    border-top: 2px solid #AB7949;
    padding: 2em;
    text-align: center;
    margin: 32px 100px 0;
}

.skeleton {
    user-select: none;
    background-color: #eeeeee;
    color: #eeeeee;
    pointer-events: none;
}

/* Pengaturan untuk tampilan carousel */
.splide__arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    height:36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}

.restaurantAwardsContainer .splide .splide__track{
    width: 61vw;
}

.splide__slide .restaurantPost-item .name {
    font-size: 16px;
    margin-bottom: 8px;
}

.splide__slide .restaurantPost-item .alamat {
    margin-top: 8px;
}

.splide__arrow--prev {
    left: 0;
}
    
.splide__arrow--next {
    right: 0;
}

.splide__arrow svg {
    width: 24px;
    height: 24px;
    filter: invert(48%) sepia(47%) saturate(490%) hue-rotate(348deg) brightness(95%) contrast(84%);
}
    
.splide__arrow--prev svg {
    transform: scaleX(-1);
}

.splide--draggable>.splide__track>.splide__list>.splide__slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

li .restaurantPost-item {
    width: fit-content;
}

.aboutSplide {
    margin-top: 24px;
}


#one .splide__pagination {
    margin-top: 16px;
}

#one .splide__track ul {
    width: auto;
    height: 100%;
}

#one .splide__track ul .splide__slide{
    max-height: 390px;
    background-color: #eeeeee;
}

#one ul li .splide__pagination__page  {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #AB7949;
    border-radius: 50%;
    margin: 3px;
    padding: 0;
    transition: transform .2s linear;
    border: none;
    opacity: 50%;
}

#one ul li .is-active {
    opacity: 100%;
}

#two {
   display: flex;
   justify-content: center;
   margin-top: 16px;
}

#three {
    margin-top: 16px;
}

