* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    font-size: 14px;
    color: #424242;
    position: relative;
    overflow-x: hidden;
}

title {
    font-family: 'Staatliches', cursive;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
 }
  
 .skip-link:focus {
    top: 0;
}
/*Header and Nav
*/

.header {
    width: 100%;
    background-color: #ffd56b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }



.header_title {
    font-family: 'Staatliches', cursive;
    display: inline-block;
    margin: 0.2em 72px;
    flex-grow: 1;
    font-weight: 300;
    font-size: 3em;
    line-height: 53px;
    letter-spacing: 0em;
    vertical-align: middle;
}

.menu_container {
    display: flex;
    justify-content: flex-end;
    overflow-x: hidden;
}

.header_menu {
    font-size: 32px;
    margin: 0.2em 72px;
    min-width: 44px;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}

.header_menu:hover {
    text-decoration: none;
    background-color: black;
    color:whitesmoke;
}

.header_menu:focus {
    text-decoration: none;
    background-color: black;
    color:whitesmoke;
    padding: 0;  
}

.nav {
    display: inline-block;
    text-align: center;
    flex-grow: 3;
    margin: 0.2em 72px 0.2em 0px;
}

.nav_list {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

.nav_item {
    display: inline-block;
    width: 120px;
    text-align:center;
    line-height: 44px;
    text-transform: uppercase;
}

.nav a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight:bold;
    width: 100%;
}

.nav a:hover {
    background-color: black;
    color:whitesmoke;
   
}

a:focus {
    background-color: black;
    color:whitesmoke;
    outline: none;
}

/*Jumbotron
*/

.hero {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 380px;
    text-align: center;
    background-image: url("../public/images/heros/hero-image_4.jpg");
    background-position: bottom;
    background-origin: border-box;
    letter-spacing: 0em;
}

.hero_inner {
    margin: 0 auto;
    color: #fff;
}

.hero_title {
    font-family: 'Staatliches', cursive;
    font-weight: 300;
    font-size: 72px;
    margin: 0px 16px;
}

.hero_tagline {
    margin: 16px;
    font-weight: 300;
    font-size: 18px;
}

/*main
*/
main {
    width: 100%;
    margin: 0 auto;
    min-height: 650px;
}

/*Content
*/
.content {
    width: 100%;
    margin: 0px auto;
    padding: 32px;
}

.content_title {
    letter-spacing: 0em;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.posts {
    width: 100%;
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
}

.post-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    margin: 32px auto auto;
    text-align: left;
}

.post-item_thumbnail {
    height: 210px;
    object-fit: cover;
    width: 100%;
    background-color: #eeeeee;
    color: #eeeeee;
}


.post-item_content {
    margin: 16px;
    height: fit-content;
}

.post-item .post-item_thumbnail .post-item_content {
    object-position: center;
    object-fit: cover;
    min-width: 100%;
    height: 250px;
}

.name {
    font-weight: 500;
    font-size: 20px;
    transition: 0.3s;
    font-weight: bold;
}

.rating {
    margin-top: 8px;
    font-weight: lighter;
}

.alamat {
    margin-top: 4px;
    font-weight: lighter;
}

.deskripsi {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5em;
    overflow: hidden;
    vertical-align: top;
    font-weight: 600;
    }
    
.details {
    position:relative;
    right: 0;
    width: 90px;
    height: 44px;
    margin: 0 16px 16px 16px;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: #424242;
    align-self: flex-end;
    background-color: #ffd56b;
    border-style: none;
    border-radius: 5px;
    cursor:pointer;
    }

.details:hover {
    background-color: transparent;
    border-style: solid;
    border-color:  #ffd56b;
    }

.post-item:hover > .post-item_content > .deskripsi {
    display: block;
    overflow: visible;
    height: fit-content;
}

.deskripsi_new {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5em;
    display: block;
    overflow: visible;
    height: fit-content;
    text-overflow: clip;
}

/*Testimoni*/

.Testimony_thumbnail {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.Testimony_content {
    margin: 16px;
    height: 142.73px;
    font-weight: 600;
}

/*detail page*/
.contentDetail {
    margin: 0 16px;
    text-align: left;
}

#content_titleDetail {
    margin: 32px 0 16px;
}

#restaurantReview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#detailContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    text-align: left;
    display: flex;
}

#post-item_contentDetail {
    padding: 16px;
}

.restaurantPoster {
    object-fit: cover;
    min-width: 60%;
}

.subHeadDetail {
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
}

.deskripsiDetail {
    margin: 4px 0 16px;
    font-size: 14px;
    line-height: 1.5em;
    
}

#deskripsiContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    padding: 32px 16px 16px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review {
    margin: 16px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 16px;
}

/*button*/
.like {
    font-size: 18px;
    position: relative;
    background-color: #ffd56b;
    color: #db0000;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 55px;
    border-style: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.add {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    position: relative;
    background-color: #ffd56b;
    color: black;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    letter-spacing: 0.1em;
    border-radius: 55px;
    border-style: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.add:hover {
    background-color: black;
    color:#ffffff;
}

.like:hover {
    background-color: black;
    color:#db0000;
}

#likeButtonContainer {
    width: 55px;
    height: 55px;
}

#addReviewButtonContainer {
    height: 55px;
    margin-right: 32px;
}

#buttonContainer {
    display: flex;
    position: fixed;
    bottom: 32px;
    right: 32px;
}
/* input Review floating page*/
.overlay {
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewOpened {
  visibility: visible;
}

#formcontainer {
    position: relative;
    background-color: #ffd56b;
    width: 634px;
    height: 70%;
    padding: 32px;
    
}

.inputContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

label input {
    display: block;
}

label {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.input {
    height: 44px;
    border-style: none;
    background-color: #ffffff;
    margin: 8px 0 16px;
    text-indent: 12px;
    font-size: 12px;
}

#submit {
    border-style: none;
    background-color: black;
    color: #ffffff;
    margin-bottom: 16px;
    height: 44px;
    cursor: pointer;
    border-radius: 44px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.inputBtn {
    border-style: solid;
    border-color: black;
    background-color: #ffffff;
    color: black;
    margin-bottom: 16px;
    height: 44px;
    cursor: pointer;
    border-radius: 44px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.inputBtn:hover {
    border-style: none;
    background-color: black;
    color: #ffffff;
}

#submit:hover {
    border-style: solid;
    border-color: black;
    background-color: #ffffff;
    color: black;
}

/*footer*/
footer {
    background-color: #ffd56b;
    padding: 2em;
    width: 100%;
    text-align: center;
}

.skeleton {
    user-select: none;
    background-color: #eeeeee;
    color: #eeeeee;
    pointer-events: none;
}
