/* Tab */
@media screen and (max-width: 769px) {
    .header {
        padding: 0 50px;
    }

    .header_container {
        height: 59px;
    }

    .header_title {
        font-size: 33.2px;
    }


    .nav_item {
        font-size: 18.7px;
        line-height: 44px;
    }

    .hero_tagline {
        font-size: 14px;
        margin-top: 16px;
    }

    .hero_title {
        font-size: 58.9px;
    }

    .hero {
        padding: 0 50px;
        height: 340px;
    }

    .hero_content {
        margin-top: 71px;
    }

    .aboutContainer {
        grid-template: auto 1fr / 1fr;
    }

    .aboutContainer .deskripsi {
        margin-left: 0px;
    }

    .content {
        margin: 0 50px;
        padding: 64px 0 0 0;
    }

    .content_title {
        font-size: 33.2px;
    }

    .deskripsi {
        font-size: 14px;
    }

    .restaurantPost-item_thumbnail {
        height: 25vh;
    }

    .add {
        font-size: 14px;
    }

    .alamat {
        font-size: 10.5px;
    }

    .splide__slide .restaurantPost-item .name {
        font-size: 14px;
    }

    footer {
        margin: 32px 50px 0;
    }

    footer p{
        font-size: 14px;
    }

    #detailContainer {
        display: block;
    }

    #restaurantPost-item_contentDetail {
        margin-top: 64px;
        padding: 0px;
    }

    .mainNonHome {
        margin-top: 123px;
    }

    .testimoni {
        margin-top: 64px;
    }

    .kategori {
        font-size: 14px;
    }

    .like {
        font-size: 14px;
    }

    .deskripsiDetail {
        font-size: 14px;
    }

    .subHeadDetail {
        font-size: 24.9px;
    }

    h3 {
        font-size: 18.7px;
    }

    .menuDetail {
        font-size: 14px;
    }

    #likeButtonContainer {
        margin-right: 8px;
    }

    label {
        font-size: 18.7px;
    }

    .input {
        font-size: 14px;
    }
}


@media screen and (max-width: 634px) {
    .header {
        padding: 0 25px;
    }

    .header_container {
        height: 55px;
    }

    .hero{
        height: 250px;
        padding: 0 25px;
    }

    .header_title {
        font-size: 24.2px;
    }

    .nav_item {
        font-size: 24.2px;
        width: 100%;
        text-align: center;
        display: unset;
        margin: 14px 0;
    }

    .mainNonHome {
        margin-top: 87px;
    }

    .hero_tagline {
        font-size: 14px;
    }

    .hero_title {
        font-size: 34.8px;
    }
  
    .nav {
        z-index: 2;
        visibility: hidden;
        background-color: #fff;
        width: 100vw;
        position: absolute;
        display: flex;
        height: 100vh;
        margin: 0;
        top: 0;
        left: 0;
        align-items: center;
        background-color: #AB7949;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(100vw, 0);
        transform: translate(100vw, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }


    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        visibility: visible;
        transition: transform 0.3s ease;
    }

    .nav_list {
        flex-direction: column;
    }

    #item {
        color: white;
    }

    .content {
        padding: 32px 0 0 0;
        margin: 0 25px;
    }

    .content_title {
        font-size: 24.2px;
    }

    .restaurantPost-item_thumbnail {
        height: 20vh;
    }
 
    .restaurantPost-item_content {
        -webkit-line-clamp: 9;
    }

    .name {
        font-size: 16px;
    }

    #restaurantReview {
        display: block;
    }
    
    #addReviewButtonContainer {
        margin-right: 16px;
    }

    .subHeadDetail {
        font-size: 20.2px;
    }
    
    .restaurantPosts {
        grid-template-columns: 1fr;
    }

    .alamat {
        font-size: 11.7px;
    }

    footer {
        margin: 32px 25px 0;
    }

    h3 {
        font-size: 16.8px;
    }

    #buttonContainer {
        margin-top: 16px;
    }

    .restaurantMenu {
        display: block;
    }

    .makanan {
        margin: 0;
    }

    .minuman {
        margin: 16px 0 0;
    }

    #formcontainer {
        height: 100%;
        padding: 87px 32px 32px;
    }

    label {
        font-size: 16.8px;
    }

}

@media screen and (min-width: 635px) {
    .header_menu {
        display: none;
    }
   
}

@media screen and (max-width: 390px) {
    .hero_title {
        font-size: 24.2px;
    }

    .restaurantPost-item_content_button {
        gap: 0;
    }
}

@media screen and (min-width: 1500px) {
    .limiter {
        max-width: 1300px;
        margin: 0 auto;
    }
}




