@media screen and (max-width: 634px) {
    .header {
        height: fit-content;
    }
  
    .nav {
        z-index: 2;
        visibility: hidden;
        background-color: #fff;
        width: 100vw;
        position: absolute;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(100vw, 0);
        transform: translate(100vw, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }


    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        visibility: visible;
        transition: transform 0.3s ease;
    }

    .nav_list {
        flex-direction: column;
    }

    .nav_item {
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: center;
    }

    .review {
        margin: 16px 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 16px;
    }

    .content {
        padding: 16px;
    }
    .restaurantPoster {
        min-width: 100% ;
    }

    .post-item_content {
        -webkit-line-clamp: 9;
    }

    .name {
        font-size: 16px;
    }

    .Testimony_thumbnail{
        height: 200px;
    }

    #restaurantReview {
        display: block;
    }
    #buttonContainer {
        bottom: 16px;
        right: 16px;
    }
    #addReviewButtonContainer {
        margin-right: 16px;
    }

    .subHeadDetail {
        font-size: 16px;
    }
    
}


@media screen and (min-width: 635px) {
    .header_menu {
        display: none;
    }
   
}

@media screen and (min-width:500px){
    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    .deskripsi {
        font-size: 14px;
    }
}

@media screen and (max-width:750px){
    .header_title {
        margin: 0.2em 36px;
    }
    .header_menu {
        flex-grow: 1;
        margin: 0.2em 28.365px 0.2em 36px;
    }
    .nav{
        margin: 0.2em 28.365px 0.2em 0px;        
        top: 0;
    }
    .hero{
        height: 250px;
    }

    .hero_title {
        font-size: 24px;
    }

    .hero_tagline {
        font-size: 16px;
    }

    .post-item__not__found {
        font-size: 16px; 
    }
    
    .hero_picture > img {
       min-width: 100%;
       height: auto;
    }
    .content_title {
        font-size: 24px;
    }
    .deskripsi {
        font-size: 12px;
    }
    .rating {
        font-size: 12px;
    }
    .alamat {
        font-size: 12px;
    }
    .details {
        font-size: 12px;
    }
}

@media screen and (max-width: 1000px){
    #detailContainer {
        flex-direction: column;
    }
    #restaurantReview {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1120px){
    .content {
        padding: 16px 16px;
    }

    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        min-width: 0;
    }

}

@media screen and (min-width: 1200px){
    main {
        max-width: 1200px;
    }
}

@media screen and (min-width: 1440px) {
    .limiter {
        max-width: 1440px;
        margin: 0 auto;
    }
}


